.stream{
  display: flex;
}
.videoContainer{
  width: calc(100vw - 400px); 
  /* border: 1px solid red;  */
  background-color: #000;
}
.commentSection{
  width: 400px; 
  position: relative;
  top: 0px;
  bottom: 0px;
  right: 0px;
}
.commentSectionHeader{
  height: calc(100vh / 15);
  top: 0px;
  left: 0px; 
  right: 0px;
  /* border: 1px solid red; */
  position: absolute;
  z-index: 2
}
.comment-input{
  display: flex;
  align-items: center;
  height: auto;
  position: absolute;
  bottom: 0px;
  right: 0px;
  left: 0px;
  width: 100%;
  border-top: 1px solid #333;
}
.commentSection input{
  border: 0;
  height: auto;
  width: 100%;
  color: #fff;
  outline: none;
  resize: none;
  padding: 20px;;
}
.commentSection button{
  color: var(--color-tertiary);
  padding:  20px;
  border: 0px;
  border: 0;
  font-size: 1.2em;
}

.comments-container{
  position: absolute;
  top: calc(100vh / 15);
  bottom: 60px;
  right: 0px;
  left: 0px;
  padding: 20px;
  overflow-y: scroll;
}
.comment{
  border-radius: 10px;;
  padding: 10px 20px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  border: 1px solid #333;
}
.comment p{
  margin: 10px 0;
}
.comment-message{

}
.comment-user-info{
  display: flex;
  align-items: center;
  position: relative;
}
.comment-avi{
  height: 25px;
  width: 25px; 
  border: 1px solid #ddd;
  background-color: #ddd;
  margin-right: 20px;
  border-radius: 20px;;
}
.auth-button-container{
  top: 0px; 
  left: 0px; 
  bottom: 0px;
  right: 0px;
  /* border: 1px solid red; */
  position: absolute;
  background-color: rgba(0,0,0,.5);
  display: flex;
  justify-content: right;
}

.auth-button-container button{
  background-color: transparent;
  border-radius: 10px;
  padding: 10px 20px;
}