.MiniVideoContainer{
    height: 200px;
    width: 350px; 
    border: 0.5px solid var(--color-tertiary); 
    position: absolute;
    right: 20px; 
    bottom: 10px;
    box-shadow: 0px 0px 10px #333;
    border-radius: 10px;
    overflow: hidden;
}

.MiniVideoContainer video{
    height: inherit;
    width: inherit;
}

.MiniOverlay{
    position: absolute;
    background-color: rgba(0,0,0,.5);
    left: 0px;
    right: 0px;
    bottom: 0px; 
    top: 0px;
}
