.Header{
  width: auto;
  border-bottom: 1px solid #333;
  padding: 10px 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.Header button:hover{
  color: var(--color-tertiary)
}

.Header button{
  /* padding: 10px; */
  /* background: inherit; */
  transition: all .2s ease-in-out;
}
.login-button-header{
  background-color:  var(--color-tertiary);
  border: 0;
  padding: 10px 20px;
  border-radius: 10px;
  color: #000
}
.logoContainer{
  display: flex;
  align-items: center;
}
.header_button{
  border: 0;
}

.logoContainer button{
  display: flex;
  align-items: center;
  margin-left: 10px;
  font-size: 1.1em;
}
.logoContainer span{
  font-size: 1em;
  margin-left: 10px;
  font-weight: bold;
}
.logoContainer svg{
  margin-right: 10px;
}
.Header  svg{
  
  font-size: 1.5em;
}

.Search_input_container{
  overflow: hidden;
  border: 1px solid #333;
  display: flex;
  align-items: center;
  border-radius: 20px;
}
.Search_input_container input {
  width: 400px;
  padding: 10px 20px;
  border: 0px;
  outline: 0px;
  color: var(--text-color);
}
.Search_input_container button{
  border-left: 1px solid #333;
}
/* Side Items */
.header_right_Items{
  display: flex;
  align-items: center;
}
.user_Avi_container{
  display: flex;
  padding: 0 10px;
  align-items: center;
}
.Avi{
  height: 30px;
  width: 30px;
  border: 1px solid #eee;
  margin-left: 10px;
  border-radius: 20px;
  background: #eee;
}
