.header{
  height: auto;
  width: auto;
  background-color: #000;
  padding: 0px;
  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative;
  padding: 0 20px;
}
.video_item{
  width: auto;
}
.video_container{
  align-items: center;
  display: flex;
  height: 400px;
  position: relative;
  width: 85%;
  margin: 20px auto;
}
.video_item{
  height: 200px;
  position: absolute;
  transition: all .3s ease-in-out;
  z-index: 0px;
  background-size: contain;
  border-radius: 10px
}
.video_item_0{
  left: 15%;
  transform: translateX(-50%);
}
.video_item_1, .video_item_3{
  height: 250px;
  z-index: 1
}

.video_item_1{
  left: 25%;
  transform: translateX(-50%);
}
.video_item_2{
  box-shadow: -2px 5px 33px 6px rgba(0,0,0,.35);
  height: 100%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 2;
}
.video_item_3{
  left: 80%;
  transform: translateX(-50%);
}
.video_item_4{
  left: 85%;
  transform: translateX(-50%);
}
.header button{
  font-size: 2em;
  color: var(--color-tertiary);
  opacity: .3;

  border: 0;
  transition: all .1s ease-in-out;

}
.header button:hover{
  opacity: 1;
}
